name: TagBot
on:
  issue_comment:
    types:
      - created
  workflow_dispatch:
permissions:
  actions: read
  checks: read
  contents: write
  deployments: read
  issues: read
  discussions: read
  packages: read
  pages: read
  pull-requests: read
  repository-projects: read
  security-events: read
  statuses: read
jobs:
  TagBot:
    if: github.event_name == 'workflow_dispatch' || github.actor == 'JuliaTagBot'
    runs-on: ubuntu-latest
    steps:
      - uses: JuliaRegistries/TagBot@v1
        with:
            ssh: ${{ secrets.DOCUMENTER_KEY }}
            token: ${{ secrets.GITHUB_TOKEN }}

  test-julia-1-10:
    needs: TagBot
    if: success()
    uses: ./.github/workflows/test.yml
    with:
      build_rust: false
      julia_version: '1.10'
      os: ubuntu-latest
      arch: x64

  test-julia-1-11:
    needs: TagBot
    if: success()
    uses: ./.github/workflows/test.yml
    with:
      build_rust: false
      julia_version: '1.11'
      os: ubuntu-latest
      arch: x64